.elements-paragraph {
  color: rgb(102, 102, 102);
}

.color-pallete {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin: 6px;
  position: relative;
  cursor: pointer;
  opacity: 0.5;
}

.color-pallete-box {
  width: 266px;
  margin-top: -6px;
  margin-right: -6px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}
