html {
  scroll-behavior: smooth;
}
body {
  height: 100%;
  min-width: 100vh;
  margin: 0;
  color: white;
  font-family: Raleway;
}

a {
  color: inherit;
  text-decoration: none;
}

.dashboard {
  /* background-color: rgb(92, 229, 180); */
  background-image: url('../images/stacked-waves-haikei.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background 5s;
}

.sound-img {
  width: 56px;
  height: 56px;
  text-align: center;
  margin-bottom: 7px;
  color: rgb(255, 255, 255);
  flex-shrink: 0;
  opacity: 0.5;
}

.dashboard-button {
  background: rgba(255, 255, 255, 0.25);
  border-style: none;
  border-radius: 25px;
  color: inherit;
  font-size: 20px;
  padding: 0.5em 1.2em;
  outline: none;
  margin: auto 1em;
  opacity: 0.5;
}

.dashboard-button:hover,
.dashboard-button:active,
.dashboard-img:hover,
.dashboard-img:active {
  cursor: pointer;
}

.dashboard-input[type="range"] {
  visibility: hidden;
}

.dashboard-input[type="range"].slider-active {
  visibility: visible;
}

.sound-container {
  display: inline-flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 110px;
  height: 84px;
  margin: 60px 24px 72px;
  transition: opacity 0.2s ease-in-out 0s;
  cursor: pointer;
  position: relative;
  opacity: 1;
}

@media (min-width: 768px) {
  .sound-container {
    margin-left: 24px;
    margin-right: 24px;
  }
}

.active {
  opacity: 1;
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sound-types {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  /* margin: 84px auto auto; */
  /* padding-bottom: 60px; */
  max-width: 330px;
  /* margin-top: 50px; */
  /* max-width: 100vh;
  min-height: 100vh; */
}

@media (min-width: 576px) {
  .sound-types {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .sound-types {
    max-width: 640px;
  }
}

.dashboard-btn-mute {
  text-align: center;
  font-size: 2em;
  width: 100px;
  margin-bottom: 20px;
}
