.settings {
  background-color: #ffffff;
  min-height: 100vh;
}

.settings-hero-pattern {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.21'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  min-height: 100vh;
}

.settings-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  max-width: 390px;
  position: relative;
  color: black;
  background-color: red;
}

@media (min-width: 992px) {
  .settings-container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .settings-container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .settings-container {
    max-width: 540px;
  }
}

.settings-form-container {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 3px;
}

.settings-form-text {
  flex: 1 1 0%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.settings-form-input {
  width: 60%;
}
